$blue: rgb(1, 151, 208);
$red: rgb(191, 37, 33);
$green: rgb(150, 192, 95);
$grey: #d1d1d1;
$small: 12px;
$chat-width: 500px;
$pink-gradient: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
$pink: #FE6B8B;