@import "global";
html[data-theme='dark'] {
	body {
		background: rgb(34, 34, 34);
		font-family: "Roboto", serif;
		color: white ;
		font-size: 15px;
	}	
	.chat-input > *{
		color: white !important;
	}
}

