@import 'global';
.users-list-wrapper{
	max-height: 100%;
	.select-wrapper{
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 5px 0;
		.select-my-status{
			width: 48%;
		}
		.select-list-status{
			width: 48%;
		}
	}
	.users-list{
		@include square-border;
		border-color: $level-noob;
		max-height: calc(95vh - 554px);
		overflow: auto;
		.individual-user{
			display: flex;
			justify-content: space-between;
		}
	}
}
